hafidh_controller:
  type: hafidh_controller/HafidhController
  arm_id: panda

frank_controller:
  type: hafidh_controller/FrankController
  arm_id: panda
  joint_names:
    - panda_joint1
    - panda_joint2
    - panda_joint3
    - panda_joint4
    - panda_joint5
    - panda_joint6
    - panda_joint7