# Ignore everything
*

!.gitignore
!README.md

# BUT not the folders:
!src/
# within those folders, don't ignore contents:
!src/*

# for some unknown reason, this franka_ros catkin package is NOT tracked!!   :(
#!src/franka_ros/
#!src/franka_ros/*

# track our new package yo
!src/hafidh_controller/
!src/hafidh_controller/*
!src/hafidh_controller/src
!src/hafidh_controller/src/*
!src/hafidh_controller/config
!src/hafidh_controller/config/*
!src/hafidh_controller/include
!src/hafidh_controller/include/*
!src/hafidh_controller/launch
!src/hafidh_controller/launch/*
!src/hafidh_controller/include/hafidh_controller
!src/hafidh_controller/include/hafidh_controller/*

# track our sleek new cartesian package!!!
!src/cartesian/
!src/cartesian/*
!src/cartesian/src
!src/cartesian/src/*
!src/cartesian/launch
!src/cartesian/launch/*


# within those folders, ignore everything it contains:
#src/*

#!src/CMakeLists.txt
#!src/FirstNode/
#!src/franka_ros/



src/.rosinstall
src/.rosinstall.bak
